.container {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 30px;
  overflow: hidden;
}

.header {
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.text {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.underline {
  width: 61px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 9px;
  margin-top: 5px;
}

.inputs {
  margin-top: 25px;
  width: 100%;
  padding-horizontal: 16px;
  max-width: 600px;
  align-items: center;
}

.inputz {
  display: flex; /* Agregado para centrar horizontalmente */
  justify-content: center; /* Agregado para centrar horizontalmente */
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 480px;
  height: 50px;
  background-color: #eaeaea;
  border-radius: 6px;
  margin-bottom: 20px;
  padding-left: 10px;
}


.icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: -1px; /* Ajusta la posición vertical del icono */
}

.inputText {
  flex: 1;
  height: 40px;
  background-color: transparent;
  border-width: 0;
  color: #797979;
  font-size: 16px;
}

.submitContainer {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-horizontal: 16px;
  margin-top: -20px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.content-container {
  position: relative;
  z-index: 1;
}

.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: black;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  transition: all 0.5s;
}
