.profile-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-button {
  margin-bottom: 10px; /* Agregar espacio entre los botones */
  margin-top: 5px; /* Subir los botones un poco */
  padding: 10px 20px; /* Ajustar el relleno según sea necesario */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Eliminar borde */
  border-radius: 5px; /* Añadir bordes redondeados */
  text-decoration: none; /* Eliminar subrayado */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

.profile-button:hover {
  background-color: #0056b3; /* Cambiar el color de fondo al pasar el ratón */
}

.bienvenido {
  font-size: 44px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; /
  width: 100%;
}
