.property-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  padding: 0 20px;
}

.property-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}

.property-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.property-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.property-details {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.property-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.property-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.property-price {
  font-weight: bold;
  font-size: 2em;
  color: gray;
  margin-bottom: 10px;
}

.property-meters,
.property-bedrooms,
.property-bathrooms {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price-bold {
  font-weight: bold;
}

.contact-button.btn {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  text-align: center;
}



.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  outline: none;
  width: 90%;
  max-width: 500px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

@media (max-width: 768px) {
  .property-card {
    flex-direction: column;
    margin: 0 auto 20px;
  }

  .property-details {
    align-items: flex-start;
  }

  .property-image-container {
    height: 200px;
  }

  .property-price {
    font-size: 1.5em;
  }

  .contact-button.btn {
    font-size: 16px;
  }
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.msg {
  font-size: 100px;
  text-align: center;
}
