.property-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 250px;
}

.property-card {
  display: flex;
  margin-bottom: 70px; /* Espacio entre las tarjetas */
}

.property-image-container {
  position: relative;
}

.property-image {
  max-width: 100%;
}

.property-details {
  display: flex;
  align-items: flex-start; /* Alinea los detalles a la izquierda */
  margin-left: 10px; /* Espacio entre la imagen y los detalles */
}

.property-icon {
  width: 30px; /* Ajusta el tamaño de los iconos según sea necesario */
  height: 30px;
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

.property-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los textos a la izquierda */
  margin-left: 10px; /* Espacio entre los textos y la imagen */
}

.property-price {
  font-weight: bold;
  font-size: 3em; /* Tamaño del precio ajustado según sea necesario */
  color: gray;
}

.property-meters,
.property-bedrooms,
.property-bathrooms {
  display: flex;
  align-items: center; /* Alinea los textos verticalmente */
  margin-bottom: 10px; /* Ajusta el valor según sea necesario */
}

.price-bold {
  font-weight: bold;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  outline: none;
  width: 50%;
  max-width: 500px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.property-image-container {
  position: relative;
}

.property-image-container:hover {
  cursor: pointer;
}




.contact-button.btn {
  width: auto; /* Anchura automática para ajustarse al contenido */
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  bottom: -125px;
}

.button.btn-container {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
}

button.btn:hover {
  color: blue;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  transition: all 0.5s;
}
